.header
  .wrapper
    %img.logo{src: '/images/logo.png'}
    .phone 8 (495) 792 89 59

  .phone
.intro
  .description
    Продажа оригинальной парфюмерии Montale со склада в Москве

= haml :form
= haml :schema
.attention
  %strong
    Осторожно!
  Если вы видите цену ниже 4 000 рублей за 100 ml флакон Montale, знайте - это подделка!
.triggers
  .wrapper
    .trigger
      %img{src: '/images/icon_original.png'}
      .text
        100% Оригинал

    .trigger
      %img{src: '/images/icon_guarantee.png'}
      .text
        30 дней гарантии

    .trigger
      %img{src: '/images/icon_special.png'}
      .text
        Уникальное предложение

    .trigger
      %img{src: '/images/icon_delivery.png'}
      .text
        Доставка на следующий день
= haml :form